{% extends 'base.html' %}

{% block content %}
    <h1>Register</h1>

    <form style="display: grid; justify-content: center;" action="" method="post">
        {% csrf_token %} 
        <input type="text" name="username"  placeholder="Username:">
        <input type="text" name="first_name" placeholder="First name:">
        <input type="text" name="last_name"  placeholder="Last name:">
        <input type="email" name="email" placeholder="Email:">
        <input type="password" name="password"  placeholder="Password:">
        <!-- <input type="password" name="password-verify"  placeholder="Password Verify:"> -->
        <input type="submit" value="Register">
    </form>
    <p>{{ result }}</p>
{% endblock %}